<div class="row">
  <div class="col-sm-8">
    <div class="card">
      <div class="card-header h4">Dane kontaktowe</div>
      <div class="card-body">

          <div class="form-group">
            <label for="ii">Imię:</label>
            <input type="text" class="form-control" id="ii" [(ngModel)]="euser.imie">
          </div>

          <div class="form-group">
            <label for="nn">Nazwisko:</label>
            <input type="text" class="form-control" id="nn" [(ngModel)]="euser.nazwisko">
          </div>

          <div class="form-group">
            <label for="aa">Adres:</label>
            <input type="text" class="form-control" id="aa" [(ngModel)]="euser.adres">
          </div>
      </div>
      <div class="card-footer text-right">
        <button class="btn btn-outline-warning mr-2" (click)="cancel()">Porzuć</button>
        <button class="btn btn-outline-success" (click)="save()">Zapisz</button>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <h4> Dostępne kontakty</h4>
    <table class="table table-striped">
      <thead>
      <tr>
        <td>Imie</td>
        <td>Nazwisko</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let u of users">
        <td>{{u.imie}}</td>
        <td>{{u.nazwisko}}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
